.title {
  display: flex;
  flex-direction: column;
  color: #003f3d;
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 150%;
  margin-left: 2%;
  margin-top: 2%;

}

.add_div {
  width: 80%;
  margin-left: 2%;
}
.add_div label {
  background-color: #008182;
  color: #fff;
  font-weight: 500;
  transition: 0.4s;
}
.add_div i {
  margin-left: 5px;
}
.add_div label:hover {
  background-color: #ffffff;
  color: #008182;
  font-weight: 500;
  cursor: pointer;
}

.btn_exam {
  border-radius: 16px;
  background: #008182;
  outline: none;
  border: none;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  color: #fff;
  font-weight: 500;
  width: 100%;
  padding: 5px;
  font-size: 17px;
  font-family: Montserrat;
}
.btn_add {
  margin-bottom: 10px;
  margin-right: 6px;
}
.container {
  margin-bottom: 10%;
}
.container img {
  border: 5px solid #008182;
  border-radius: 20px;
  margin-top: 2%;
}
.manshet {
  position: relative;
}
.box{
  position: relative;
  margin: 2%;
  padding: 2%;
  border: 1px solid #008182;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 10px rgba(0, 129, 130, 0.47);
}
.box h1{
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  margin-top: 2%;
  padding: 2%;
  font-size: 28px;
  color: #003f3d;
  font-weight: 700;
  line-height: 150%;
}
.box p {
  border-radius: 20px;
  margin-top: 2%;
  padding: 2%;
  font-size: 16px;
  color: #003f3d;
  font-weight: 600;
  width: 80%;
  line-height: 150%;
}
.image {
  position: relative;
}
.image i {
  position: absolute;
  color: red;
  right: 10%;
  top: 20%;
  font-size: 24px;
  cursor: pointer;
}
.box i {
  position: absolute;
  color: red;
  right: 10%;
  top: 10%;
  font-size: 24px;
  cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button {
  background-color: #008182;
  color: white;
}
.input-group-text {
  background-color: #008182;
  color: white;
  border: none;
  transition: 0.4s;
}


.outer_button {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  margin-left: 3px;
}
.modal-title {
  color: #006a6a;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
}
.modal-content {
  border-radius: 15px;
  background: radial-gradient(
      313.28% 209.98% at 99.43% 99.22%,
      #dff 0%,
      rgba(235, 247, 248, 0) 100%
    ),
    rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
  backdrop-filter: blur(6.5px);
}

.modal-footer button {
  background: #008182;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.modal-body {
  color: #008182;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
}
.modal-body label {
  font-size: 18px;
  font-weight: 600;
  margin-top: 2%;
}
.modal-footer button:hover {
  background: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 1s;
}


.addBtn {
  font-weight: 500;
  border-radius: 10px;
  background: #008182;
  color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  width: 70%;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
}
.addBtn:hover {
  background: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 0.5s;
}

.title_blog{
  text-align: center;
}



.contain {
  background: rgba(0, 0, 0, 0.082);
  backdrop-filter: blur(5px);
  color: black;
  font-size: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  font-weight: 1400;
  background: rgba(204, 255, 251, 0.111);
  position: fixed;
  left: 5%;
  top: 2%;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 800px) {
  img {
    width: 350px;
    height: 100px;
    order: 2;
  }
  .manshet p {
    font-size: 18px;
  }
}
