<div class="title">
  <p>News</p>
</div>

<div class="input-group mb-3 add_div">
  <input type="file" class="form-control" id="inputGroupFile02" />
  <label class="input-group-text" for="inputGroupFile02"
    >Add news<i class="fa-solid fa-plus"></i
  ></label>
</div>

<div class="title">
  <p>Others</p>
</div>
<div class="container">
  <div class="image">
    <i class="fa-solid fa-trash"></i>
    <img src="../../assets/images/img4.jpg" alt="" />
  </div>
 
  <div class="image">
    <i class="fa-solid fa-trash"></i>
    <img src="../../assets/images/img6.svg" alt="" />
  </div>
  <div class="image">
    <i class="fa-solid fa-trash"></i>
    <img src="../../assets/images/img7.svg" alt="" />
  </div>
</div>
