.contain {
  background: rgba(0, 0, 0, 0.082);
  backdrop-filter: blur(5px);
  color: black;
  font-size: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  font-weight: 1400;
  background: rgba(204, 255, 251, 0.111);
  position: fixed;
  left: 5%;
  top: 2%;
  height: 100vh;
  width: 100vw;
}
.typing {
  all: unset;
  color: #008081;
  font-weight: bold;
  text-align: center;
}
.locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  gap: 2%;
}
.addlocationbtn {
  font-size: larger;
  font-weight: 400;
  border-radius: 9px;
  background: #008182;
  color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  width: 100%;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
}
.addlocationbtn:hover {
  background: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 0.5s;
}
.remove_edit {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  margin-top: 2%;
  margin-bottom: 2%;
}
.remove_edit button {
  all: unset;
  font-size: 20px;
  margin-right: 4%;
  color: #008182;
  cursor: pointer;
  transition: 0.5s;
}

.takenbox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: center;
  width: 28vw;
  height: 8vh;
}
.takeninfo {
  color: #008182;
  font-size: 11px;
  font-weight: 500;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 5px 5px 5px 5px rgba(0, 129, 130, 0.16);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
 }
.card-title {
  color: #008182;
  font-size: 20px;
  font-weight: 300;
  margin-left: 2%;
  margin-right: 4%;
}
.card {
    width: 35%;
    margin-right: 0;
  }

  .card h5 {
    font-size: 16px;
  }

  .card a {
    font-size: 10px;
  }
  
.takeninfo label {
  font-size: 22px;
  font-weight: 700;
}
.taken {
  border-radius: 10px;
  background: linear-gradient(311deg, #dcfcfd 0%, #fff 100%);
  box-shadow: 0px 0px 25px 0px rgba(247, 144, 81, 0.15);
  justify-content: left;
  height: fit-content;
  position: relative;
  margin-bottom: 1%;
}
.taken h5 {
  font-size: 18px;
}
.taken i:hover {
  color: #ff0052;
}
td {
    width: 80%;
     margin-top: 2%;
}


.outer_button {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  margin-left: 3px;
}
.modal-title {
  color: #006a6a;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
}
.modal-content {
  border-radius: 15px;
  background: radial-gradient(
      313.28% 209.98% at 99.43% 99.22%,
      #dff 0%,
      rgba(235, 247, 248, 0) 100%
    ),
    rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
  backdrop-filter: blur(6.5px);
}

.modal-footer button {
  background: #008182;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.modal-body {
  color: #008182;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
}
.modal-body label {
  font-size: 18px;
  font-weight: 600;
  margin-top: 2%;
}
.modal-footer button:hover {
  background: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 1s;
}

select{
  width: 100%;
  color:#008182;
  background: linear-gradient(311deg, #dcfcfd 0%, #fff 100%);
  border:none;
}
/* .dropdown :hover {
  background: #e2e0e051;
  color: #000;
  transition: 0.2s;
} */
 

@media screen and (max-width: 1000px) {
  .toolbar {
    flex-direction: column;
    gap: 2%;
    width: 100%;
  }
  
  select{
    width: 100%;
    margin-top: 3%;
  }
  .toolbar .btn {
    width: 100%;
  }
  .locations {
    flex-direction: column;
    gap: 2%;
    width: 100%;
    padding-bottom: 5%;
  }
  .taken {
    width: 100%;
  }
  .takenbox {
    width: 100%;
  }
  .card-title {
    font-size: 16px;
  }
  .takeninfo {
    font-size: 18px;
  }
  .takeninfo label {
    font-size: 16px;
  }
  .addlocationbtn {
    font-size: 16px;
  }
  .remove_edit button {
    font-size: 16px;
  }
  .card {
    width: 100%;
    margin-right: 0;
  }
  .card h5 {
    font-size: 16px;
  }
  .card a {
    font-size: 10px;
  }
  .upcoming h5,
  .taken h5,
  .rank h5 {
    font-size: 18px;
  }
  .discoverexamslabel a {
    right: auto;
    left: 10%;
    font-size: 12px;
  }
  .modal-title {
    font-size: 24px;
  }
  .modal-footer button {
    width: 100%;
  }
  .modal-body {
    font-size: 14px;
  }
  .upcominginfo label,
  .takeninfo label,
  .rankinfo label {
    font-size: 14px;
  }
  .upcominginfo,
  .takeninfo,
  .rankinfo {
    padding: 5px;
  }

  .goodmorningwidgets,
  .discoverexamswidgets {
    width: 100%;
    overflow: unset;
  }

  .card {
    width: 100%;
    margin-right: 0;
  }

  .card h5 {
    font-size: 16px;
  }

  .card a {
    font-size: 10px;
  }

  .upcoming h5,
  .taken h5,
  .rank h5 {
    font-size: 18px;
  }

  .discoverexamslabel a {
    right: auto;
    left: 10%;
    font-size: 12px;
  }

  .modal-title {
    font-size: 24px;
  }

  .modal-footer button {
    width: 100%;
  }

  .modal-body {
    font-size: 14px;
  }

  .upcominginfo label,
  .takeninfo label {
    font-size: 15px;
  }

  .examlist li {
    font-size: 8px;
  }

  .order,
  h3 {
    font-size: 10px;
  }

  #select,
  #btn,
  .circle {
    width: 100%;
  }

  .discoversmallbox2 .discoverexamname1 {
    font-size: 12px;
  }

  .discoversmallbox2 .discoverscore1 {
    font-size: 48px;
  }
}
