.container {
  margin: 0 auto;
  padding: 20px;
}
.selection {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}
.form-select {
  width: 25%;
  border-radius: 8px;
  background-color: #effeff;
  color: #003f3d;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-right: 2%;
}
.showBtn {
  width: 25%;
  border-radius: 8px;
  background-color: #008182;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-right: 2%;
  border: none;
}
.showBtndis {
  width: 25%;
  border-radius: 8px;
  background-color: gray;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-right: 2%;
  border: none;
}.showBtn:hover {
  background-color: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 0.5s;
}
#barChart {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  background-color: #fff;
}
#barChart2 {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  background-color: #fff;
}
#myChart {
  margin-top: 2%;
}
.pieChart2 {
  width: 65%;
  height: 65%;

  text-align: center;
  align-self: center;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #003f3d;
  margin-bottom: 2%;
}
.outer_button {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  margin-left: 3px;
}
.modal-title {
  color: #006a6a;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
}
.modal-content {
  border-radius: 15px;
  background: radial-gradient(
      313.28% 209.98% at 99.43% 99.22%,
      #dff 0%,
      rgba(235, 247, 248, 0) 100%
    ),
    rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
  backdrop-filter: blur(6.5px);
}

.modal-footer button {
  background: #008182;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.modal-body {
  color: #008182;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
}
.modal-body label {
  font-size: 18px;
  font-weight: 600;
  margin-top: 2%;
}
.modal-footer button:hover {
  background: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 1s;
}

.addBtn {
  font-weight: 500;
  border-radius: 10px;
  background: #008182;
  color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  width: 70%;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
}
.addBtn:hover {
  background: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 0.5s;
}
.largeBox {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid #000;
  box-shadow: 10px 10px 10px 10px rgba(0, 129, 130, 0.16);
  padding: 20px;
  margin-bottom: 2%;

  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #barChart {
    width: 100%;
    height: 100%;
  }
  #barChart2 {
    width: 100%;
    height: 100%;
  }
  .selection {
    flex-direction: column;
  }
  .form-select {
    width: 100%;
    margin-bottom: 2%;
  }
  .showBtn {
    width: 100%;
    margin-bottom: 2%;
  }
  .pieChart2 {
    width: 100%;
    height: 100%;
  }
  .largeBox {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #000;
    box-shadow: 10px 10px 10px 10px rgba(0, 129, 130, 0.16);
    padding: 20px;
    margin-bottom: 2%;

    align-items: center;
    justify-content: center;
  }
  .modal-footer button {
    width: 100%;
  }
  .modal-content {
    width: 100%;
  }
  .modal-body {
    width: 100%;
  }
  .modal-body label {
    width: 100%;
  }
  .modal-title {
    width: 100%;
  }
  .addBtn {
    width: 100%;
  }
  .outer_button {
    width: 20px;
    height: 20px;
  }
  .modal-footer button {
    width: 100%;
  }
  .modal-content {
    width: 100%;
  }
}
