<div class="container">
  <div class="largeBox">
    <h1>Taken Exams Statistics</h1>
    <div class="selection">
      <select
        class="form-select"
        aria-label="Default select example"
        id="years"
        (change)="change_year_chart1($event)"
      >
        <option selected>Choose year</option>
        <option *ngFor="let year of distinctyears">{{year}}</option>

      </select>
      <select
        class="form-select"
        aria-label="Default select example"
        id="months"
        (change)="change_month_chart1($event)"

      >
        <option selected>Choose month</option>
        <option *ngFor="let month of distinctmonth">{{month}}</option>
      </select>
      <button
        class="showBtn"
        data-toggle="modal"
        data-target="#open_piechart"
        (click)="open_piechart()"
        *ngIf="selectedmonth1!='Choose month'"
      >
        Show month statistics
      </button>
      <button
        class="showBtndis"
        *ngIf="selectedmonth1=='Choose month'"
        disabled
        >
        Show month statistics
      </button>
    </div>
    <div class="barChart">
      <canvas id="barChart"></canvas>
    </div>
  </div>


  <!-- Retation rate -->
  <div class="largeBox">
    <h1>Retention rate Statistics</h1>
    <div class="selection">
      <select
        class="form-select"
        aria-label="Default select example"
        id="years"
        (change)="change_year_chart2($event)"
      >
      <option selected>Choose year</option>
      <option *ngFor="let year of distinctyears">{{year}}</option>
      </select>
    </div>
    <div class="barChart">
      <canvas id="barChart2"></canvas>
    </div>
  </div>
  <!-- Score Statistics -->
  <div class="largeBox">
    <h1>Scores Statistics</h1>
    <div class="selection">
      <select class="form-select" aria-label="Default select example" id="exam">
        <option selected>Choose exam</option>
        <option>C++</option>
        <option>Algorithm</option>
        <option>Flutter</option>
        <option>Data Structure</option>
      </select>
    </div>
    <div class="barChart pieChart2">
      <canvas id="pieChart2"
      ></canvas>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="open_piechart"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{months_name[selectedmonth1-1]}} {{selectedyear1}}</h5>
        <button class="outer_button" disabled>
          <button
            type="button"
            class="close close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </button>
      </div>
      <div class="modal-body">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
