<div class="toolbar">
  <!-- country -->
  <div class="dropdown countrydiv">
    <button
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Country
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Egypt</a>
      <a class="dropdown-item" href="#">UAE</a>
    </div>
  </div>
  <!-- city -->
  <div class="dropdown citydiv">
    <button
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      City
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Cairo</a>
      <a class="dropdown-item" href="#">Dubai</a>
    </div>
  </div>
  <!-- location -->
  <div class="dropdown locationdiv">
    <button
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Location
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Option 1</a>
      <a class="dropdown-item" href="#">Option 2</a>
      <a class="dropdown-item" href="#">Option 3</a>
    </div>
  </div>
</div>

<div class="locations">
  <button
    data-toggle="modal"
    data-target="#addlocationmodal"
    class="addlocationbtn"
  >
    Add location <i class="fa-solid fa-plus"></i>
  </button>
  <!-- ng for -->
  <div class="card card-body taken">
    <div class="remove_edit">
      <button><i class="fa-solid fa-pen"></i></button>
      <button><i class="fa-solid fa-trash"></i></button>
    </div>
    <table>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Country</label></td>
          <td>
            <div class="takeninfo">
              <label>Egypt</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">City</label></td>
          <td>
            <div class="takeninfo">
              <label>Alexandria</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Location</label></td>
          <td>
            <div class="takeninfo">
              <label>Smouha</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Capacity</label></td>
          <td>
            <div class="takeninfo">
              <label>50</label>
            </div>
          </td>
        </div>
      </tr>
    </table>
  </div>

  <div class="card card-body taken">
    <div class="remove_edit">
      <button class="edit"><i class="fa-solid fa-pen"></i></button>
      <button class="remove"><i  class="fa-solid fa-trash"></i></button>
    </div>
    <table>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Country</label></td>
          <td>
            <div class="takeninfo">
              <label>UAE</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">City</label></td>
          <td>
            <div class="takeninfo">
              <label>Dubai</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Location</label></td>
          <td>
            <div class="takeninfo">
              <label>Maydan</label>
            </div>
          </td>
        </div>
      </tr>
      <tr>
        <div class="card-text takenbox">
          <td><label class="card-title">Capacity</label></td>
          <td>
            <div class="takeninfo">
              <label>85</label>
            </div>
          </td>
        </div>
      </tr>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="addlocationmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button class="outer_button" disabled>
          <button
            type="button"
            class="close close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlInput1">Country:</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Enter Country"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput2">City:</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput2"
            placeholder="Enter City"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput3">Location:</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput3"
            placeholder="Enter Location"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput4">Capacity:</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput4"
            placeholder="Enter Capacity"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="addnewlocation">
          Add <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
