<p>admin-location-bar works!</p>
<div
  class="modal fade"
  id="token_exam"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
        </h5>
        <button class="outer_button" disabled>
          <button
            type="button"
            class="close close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </button>
      </div>
      <div class="modal-body">
        <div class="discoverbox1">
          
          <div class="discoversmallbox2">
            <label class="discoverexamname1">Your last mark</label>
            <label class="discoverscore1">%</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="showcertificate"
          
        >
          Show certificate
        </button>
       
      </div>
    </div>
  </div>
</div>