<div class="title">
  <p>News</p>
</div>

<div class="container">
  <div class="container">
    <div class="box" *ngFor="let news of News; let i = index">
      <h1>{{ news.title }}</h1>
      <img [src]="news.photo" alt="" />
      <p [hidden]="!showContent[i]">{{ news.description }}</p>
    <div class="seeMore">
      <span class="see-more-icon" [hidden]="showContent[i]" (click)="toggleVisibility(i)">
        <i class="fa fa-chevron-down"></i> See More
      </span>
      <span class="see-more-icon" [hidden]="!showContent[i]" (click)="toggleVisibility(i)">
        <i class="fa fa-chevron-up"></i> See Less
      </span>
    </div>
    </div>
  </div>
</div>
<div *ngIf="flag_type == true" class="contain">
  <ngx-typed-js
    [strings]="['loading ...']"
    [loop]="false"
    [typeSpeed]="20"
    [shuffle]="true"
  >
    <h1 class="typing"></h1>
  </ngx-typed-js>

  <!-- Good morning section -->
</div>