.title {
  display: flex;
  flex-direction: row;
  color: #003f3d;
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 150%;
  margin-left: 3%;
  margin-top: 3%;
}

.contain {
  background: rgba(0, 0, 0, 0.082);
  backdrop-filter: blur(5px);
  color: black;
  font-size: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  font-weight: 1400;
  background: rgba(204, 255, 251, 0.111);
  position: fixed;
  left: 5%;
  top: 2%;
  height: 100vh;
  width: 100vw;
}
.typing {
  all: unset;
  color: #008081;
  font-weight: bold;
  text-align: center;
}
.add_div label {
  background-color: #008182;
  color: #fff;
  font-weight: 500;
  transition: 0.4s;
}
.add_div i {
  margin-left: 5px;
}
.add_div label:hover {
  background-color: #ffffff;
  color: #008182;
  font-weight: 500;
  cursor: pointer;
}

.container {
  margin-bottom: 10%;
}
img {
  max-width:700px;
  border: 5px solid #008182;
  border-radius: 20px;
  margin-top: 2%;
}
.box {
  position: relative;
  margin: 2%;
  padding: 2%;
  border: 1px solid #008182;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 10px rgba(0, 129, 130, 0.47);
  transition: 0.4s;
}
.seeMore{
  margin-top: 2%;
}

.box h1 {
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  margin-top: 2%;
  padding: 2%;
  font-size: 28px;
  color: #003f3d;
  font-weight: 700;
  line-height: 150%;
}
.box p {
  border-radius: 20px;
  margin-top: 2%;
  padding: 2%;
  font-size: 16px;
  color: #003f3d;
  font-weight: 600;
  width: 80%;
  line-height: 150%;
}
input[type="file"]::-webkit-file-upload-button {
  background-color: #008182;
  color: white;
}
.input-group-text {
  background-color: #008182;
  color: white;
  border: none;
  transition: 0.4s;
}
.input-group-text:hover {
  background-color: #ffffff;
  color: #008182;
  border: none;
}

.see-more-icon {
  cursor: pointer;
  color: #008182; /* Change the color to match your design */
}

@media only screen and (max-width: 1000px) {
  img {
    width: 300px;
    order: 2;
  }
  .manshet p {
    font-size: 18px;
  }
  .manshet h1 {
    font-size: 24px;
  }
  .box h1 {
    font-size: 24px;
  }
  .box p {
    font-size: 14px;
  }
  .box {
    width: 100%;
    padding: 5%;
  }

  .box i {
    right: 5%;
  }
  .image i {
    right: 5%;
  }
  .modal-title {
    font-size: 24px;
  }
  .modal-body {
    font-size: 14px;
  }
  .modal-footer button {
    font-size: 14px;
  }
  .modal-footer button:hover {
    transition: 0.5s;
  }
  .modal-content {
    width: 90%;
  }
  .modal-footer button {
    width: 90%;
  }
  .title{
    font-size: 24px;
  }
  .addBtn {
    width: 90%;
    font-size: 16px;
  }
  .contain {
    width: 90%;
    left: 5%;
    top: 2%;
  }
  .title_blog{
    font-size: 24px;
  }

}
