<div class="title">
    <button 
    >Add News</button>
  </div>
  
  <div class="input-group mb-3 add_div">
    <input
      type="file"
      accept="image/*"
      class="form-control"
      id="inputGroupFile02"
      (change)="appendUrl($event)"
    />
  </div>
  <div class="input-group add_div">
    <button class="input-group-text" (click)="addNews(manshet.value)">Add news</button>
    <textarea class="form-control" #manshet aria-label="With textarea"></textarea>
  </div>
  
  <div class="title">
    <p>Current</p>
  </div>
  <div class="container">
    <div class="manshet" *ngFor="let manshet of manshets;let i = index">
      <i class="fa-solid fa-trash" (click)="deleteNews(i)"></i>
      <p>{{ manshet }}</p>
    </div>
    <div class="image" *ngFor="let url of urls; let i = index">
      <i class="fa-solid fa-trash" (click)="deleteUrl(i)"></i>
      <img [src]="url" alt="" />
    </div>
  </div>
  