<div class="goodmorninglabel">
  <p>Upcoming exams</p>
</div>
<div class="goodmorningwidgets">
  <!-- start div with class upcoming indicate to style of this card -->
  <div *ngFor="let exam of upcoming_exam" class="card card-body upcoming">
    <h5 class="card-title">{{ exam.title }}</h5>
    <div class="card-text upcomingbox">
      <!-- ng for -->
      <div class="upcominginfo">
        <label class="smallbox">{{ exam.location }}</label>
        <label class="smallbox">{{ exam.city }}</label>
        <label class="smallbox">{{ exam.country }}</label>
      </div>
      <div class="upcominginfo">
        <label class="smallbox">{{ exam.day }}</label>
        <!-- <label class="smallbox">Sunday</label> -->
        <label class="smallbox">{{ exam.appointment }}</label>
      </div>
      <div class="upcominginfo">
        <label class="smallbox">{{ exam.snack }}</label>
      </div>
    </div>
  </div>
  <ng-container *ngIf="upcoming_exam.length == 0">
    <div   class="upcominginfo" style="font-weight: 600; font-size: 15px;">
      <p>You have worked hard to get to where you are today, and you deserve to be recognized for your skills and expertise. Taking the exam can help you achieve the recognition and success you deserve. You have what it takes to pass this exam and take your career to the next level. Believe in yourself and take the leap – book your exam today and show the world what you're capable of!</p>
    </div>
  </ng-container>
</div>
<!-- taken exams section -->
<div class="discoverexamslabel">
  <p>Taken Exams</p>
</div>
<div class="discoverexamswidgets">
  <!-- ngfor ya kimoo -->
  <div *ngFor="let token of token_exam" class="card card-body upcoming">
    <!-- Not taken again -->
    <h5 class="card-title">{{ token.title }}</h5>
    <div class="discoverbox1">
      <div class="discoversmallbox">
        <label class="discoverexamname">Your last mark</label>
        <label class="discoverscore">{{ token.percentage }}%</label>
      </div>
      <div class="discoverinfo">
        <button
          (click)="learn_token(token)"
          data-toggle="modal"
          data-target="#token_exam"
          class="discoverbtns learnmore"
        >
          Learn More
        </button>
        <button
          *ngIf="token.percentage != 100"
          (click)="take_exam(token.title, token._id)"
          class="discoverbtns takeagain"
        >
          Take exam again
        </button>
        <button
          disabled
          *ngIf="token.percentage == 100"
          id="disable_btn"
          class="discoverbtns takeagain"
        >
          Take exam again
        </button>
      </div>
    </div>
  </div>


  <ng-container *ngIf="token_exam.length == 0">
    <div   class="upcominginfo" style="font-weight: 600; font-size: 15px;">
      <p>You have not taken the exam yet. You can now book the exam. What are you waiting for?</p>
    </div>
  </ng-container>
</div>

<!-- non_token_exam section -->
<div class="discoverexamslabel">
  <p>Other Exams</p>
</div>
<div class="discoverexamswidgets">
  <!-- ngfor ya kimoo -->
  <div *ngFor="let non_token of non_token_exam" class="card card-body upcoming">
    <h5 class="card-title">{{ non_token.title }}</h5>
    <div class="discoverbox1">
      <div class="discoversmallbox">
        <ul class="examlist">
          <li *ngFor="let infomration of non_token.info">{{ infomration }}</li>
        </ul>
      </div>
      <div class="discoverinfo">
        <button
          (click)="learn_non_token(non_token)"
          data-toggle="modal"
          data-target="#not_token_exam"
          class="discoverbtns learnmore"
        >
          Learn More
        </button>
        <button
          (click)="take_exam(non_token.title, non_token._id)"
          class="discoverbtns takeagain"
        >
          Take exam
        </button>
      </div>
    </div>
  </div>
</div>

<!-- booking exam -->

<div *ngIf="flag_book == true" class="contain">
  <div class="close">
    <button (click)="close_book()" class="closebtn">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="order">Book your exam ({{ book_title_course }})</div>
  <div class="box">
    <form #input_form="ngForm" (ngSubmit)="submit_book()">
      <div>
        <h3>Country</h3>
        <select
          class="sel"
          required
          #country
          id="select"
          name="country" 
          (change)="onCountrySelected($event)"
        >
          <option selected>Country</option>
          <option *ngFor="let coun of countrys">{{coun}}</option>
        </select>

        <h3>City</h3>
        <select
          class="sel"
          required
          #city
          id="select"
          name="city"
          (change)="oncitySelected($event)"
        >
          <option selected>City</option>
          <option    *ngFor="let cit of citys">{{cit}}</option>
         </select>
        <h3>Location</h3>
        <select
          class="sel"
          required
          #location
          id="select"
          name="location"
          (change)="onlocationSelected($event)"
        >
          <option selected>Location</option>
          <option    *ngFor="let locate of locations">{{locate}}</option>
          </select>

        <button
          disabled
          *ngIf="
          selectedCountry == 'country' ||
          selectedCity == 'city' ||
          selectedlocation == 'location'
          "
          id="btn"
          style="background-color: gray"
          type="submit"
        >
          Next
        </button>
        <button
          *ngIf="
          selectedCountry != 'country' &&
          selectedCity != 'city' &&
          selectedlocation != 'location'
          "
          id="btn"
          type="submit"
        >
          Next
        </button>
      </div>
      <div class="circle">
        <i
          *ngIf="
          selectedCountry == 'country' ||
          selectedCity == 'city' ||
          selectedlocation == 'location'
          "
          class="fa-solid fa-circle"
          style="color: red"
        ></i>
        <i
          *ngIf="
          selectedCountry != 'country' &&
          selectedCity != 'city' &&
          selectedlocation != 'location'
          "
          class="fa-solid fa-circle"
          style="color: #008182"
        ></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
      </div>
    </form>
  </div>
</div>

<div *ngIf="flag_snack == true" class="contain">
  <div class="close">
    <button (click)="close_book()" class="closebtn">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="order">Choose what you prefer!</div>
  <div class="box">
    <form #input_form="ngForm" (ngSubmit)="submit_snack()">
      <h3>Select your snack</h3>
      <select
        required
        #snack
        id="select"
        name="snack"
        (change)="onselectsnack($event)"      >
        <option>snack</option>
        <option   *ngFor="let snack of snacks">{{snack}}</option>
      </select>
      <button
        disabled
        *ngIf="select_snacks== 'Snack'"
        id="btn"
        style="background-color: gray"
        type="submit"
      >
        Next
      </button>
      <button *ngIf="select_snacks != 'Snack'" id="btn" type="submit">
        Next
      </button>

      <div class="circle">
        <i class="fa-regular fa-circle"></i>
        <i
        *ngIf="select_snacks == 'Snack'" 
          class="fa-solid fa-circle"
          style="color: red"
        ></i>
        <i
        *ngIf="select_snacks!= 'Snack'"
         class="fa-solid fa-circle"
          style="color: #008182"
        ></i>
        <i class="fa-regular fa-circle"></i>
      </div>
    </form>
  </div>
</div>

<div *ngIf="flag_time == true" class="contain">
  <div class="close">
    <button (click)="close_book()" class="closebtn">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="order">Select your time</div>
  <div class="box">
    <form #input_form="ngForm" (ngSubmit)="submit_time()">
      <h3>Day of exam</h3>
      <select
      required
      #snack
      id="select"
      name="snack"
      (change)="ondayselect($event)"      >
      <option>Select a day</option>
      <option   *ngFor="let appoint of calendar; let i=index">{{appoint.day_number}} : {{appoint.day_name}}</option>
      </select>

      <h3>Appointment</h3>
      <select
      required
      #snack
      id="select"
      name="snack"
      (change)="ontimeselect($event)"      >
      <option>Select an Appointment</option>
      <option >{{avilable_time}}</option>
      </select>
      <button
        disabled
        *ngIf="
        selectedday == 'Select a day' ||
        selectedappointment == 'Select an Appointmen'
        "
        id="btn"
        style="background-color: gray"
        type="submit"
      >
        Next
      </button>
      <button
        *ngIf="
        selectedday != 'Select a day' &&
        selectedappointment != 'Select an Appointmen'
        "
        id="btn"
        type="submit"
      >
        Next
      </button>
      <div class="circle">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i
          *ngIf="
          selectedday == 'Select a day' ||
          selectedappointment == 'Select an Appointmen'
          "
          class="fa-solid fa-circle"
          style="color: red"
        ></i>
        <i
          *ngIf="
          selectedday != 'Select a day' &&
          selectedappointment != 'Select an Appointmen'
          "
          class="fa-solid fa-circle"
          style="color: #008182"
        ></i>
      </div>
    </form>
  </div>
</div>

<!-- mesage template -->
<div
  class="modal fade"
  id="not_token_exam"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{ learn_dataof_nontoken.title }}
        </h5>
        <button class="outer_button" disabled>
          <button
            type="button"
            class="close close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ learn_dataof_nontoken.about }}</p>
        <ul>
          <li
            *ngFor="let info of learn_dataof_nontoken.info"
            style="margin-top: 20px"
          >
            {{ info }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="
            take_exam(learn_dataof_nontoken.title, learn_dataof_nontoken._id)
          "
        >
          Take Exam
        </button>
      </div>
    </div>
  </div>
</div>

<!-- token_exam example -->

<div
  class="modal fade"
  id="token_exam"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{ learn_dataof_token.title }}
        </h5>
        <button class="outer_button" disabled>
          <button
            type="button"
            class="close close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ learn_dataof_token.about }}</p>
        <div class="discoverbox1">
          <ul>
            <li
              *ngFor="let info of learn_dataof_token.info"
              style="margin-top: 20px"
            >
              {{ info }}
            </li>
          </ul>
          <div class="discoversmallbox2">
            <label class="discoverexamname1">Your last mark</label>
            <label class="discoverscore1"
              >{{ learn_dataof_token.percentage }}%</label
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="showcertificate"
        >
          Show certificate
        </button>

        <button
          disabled
          *ngIf="learn_dataof_token.percentage==100"
          style="background: rgba(199, 199, 199, 0.46);
          box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
          "
          type="button"
          (click)="take_exam(learn_dataof_token.title, learn_dataof_token._id)"
        >
          Take Exam
        </button>
        <button
        *ngIf="learn_dataof_token.percentage!=100"
          type="button"
          (click)="take_exam(learn_dataof_token.title, learn_dataof_token._id)"
        >
          Take Exam
        </button>
      </div>
    </div>
  </div>
</div>
