.contain {
    background: rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(5px);
    color: black;
    font-size: 48px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    font-weight: 1400;
    background: rgba(204, 255, 251, 0.111);
    position: fixed;
    left: 5%;
    top: 2%;
  }
  .typing {
    all: unset;
    color: #008081;
    font-weight: bold;
    text-align: center;
  }
  close {
    color: #008182;
  }
  .closebtn {
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 10%;
  }
  .discoverexamslabel a:hover {
    font-size: 20px;
  }
  
  .discoverbox1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .discoversmallbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    margin-right: 20px;
    width: 21vw;
    height: 13vh;
    margin-bottom: 5%;
    margin-right: 12%;
  }
  .discoverinfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #008182;
    font-weight: 520;
    margin-right: 10px;
  }
  .discoversmallbox label {
    color: #006a6a;
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
  }
  .discoversmallbox .discoverscore {
    font-size: 32px;
    font-weight: 300;
    margin: 0px;
  }
  
  .goodmorningwidgets,
  .discoverexamswidgets {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-bottom: 2%;
    flex-wrap: wrap;
    width: 98%;
  }
  .card {
    width: 22vw;
    height: 29vh;
    margin-right: 2%;
    margin-bottom: 15px;
  }
  .one_card {
    justify-content: center;
    align-items: center;
  }
  #special_card {
    width: 40vw;
    height: 45vh;
    font-weight: 100;
    font-size: medium;
  }
  .input_percentage {
    border-radius: 5px;
    color: #008182;
    background-color: #fff;
    height: 10vh;
    width: 30vh;
    font-size: 30px;
    font-weight: 50px;
    padding-left: 28%;
    margin-top: 3%;
  }
  .card h5 {
    align-items: left;
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 100%;
  }
  .card a {
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 700;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
  }
  
  .card a:hover {
    font-size: 15px;
  }
  .upcoming {
    border-radius: 10px;
    background: radial-gradient(
        313.28% 209.98% at 99.43% 99.22%,
        #dff 0%,
        rgba(235, 247, 248, 0) 100%
      ),
      #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
  }
  .upcoming a {
    color: #006a6a;
  }
  .upcoming h5 {
    color: #006a6a;
    font-size: 22px;
  }
  .change {
    all: unset;
    cursor: pointer;
    color: #006a6a;
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    margin-top: 6%;
  }
  .update_card {
    border-radius: 10px;
    background: #008182;
    outline: none;
    border: none;
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    color: #fff;
    font-weight: 500;
    width: 100%;
    padding: 5px;
    height: 40px;
  }
  .toolbar {
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
  }
  
  .toolbar .btn {
    border-radius: 8px;
    background: linear-gradient(311deg, #dcfcfd 0%, #fff 100%);
    color: #008182;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    width: 14vw;
  }
 
  .dropdown-item {
    color: #008182;
    background: linear-gradient(311deg, #dcfcfd 0%, #fff 100%);
  }
  .dropdown-item:hover {
    background: #ababab;
    color: #000;
    transition: 0.2s;
  }
  .addtopicbtn {
    font-size: larger;
    font-weight: 400;
    border-radius: 9px;
    background: #008182;
    color: #fff;
    width: 90%;
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    margin: 0% 2% 0% 2%;
  }
  .topic_tiltle {
    color: #006a6a;
    font-size: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 35px;
  }
  .smallbox {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0px 8px 10px 0px rgba(0, 129, 130, 0.16);
    display: flex;
    padding: 2%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1%;
  }
  .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .head i{
    font-size: 24px;
    margin: 10px;

  }
  .head i:hover{
    color: red;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
  }
  .box {
    color: #008182;
    border-radius: 20px;
    background: radial-gradient(
        313.28% 209.98% at 99.43% 99.22%,
        #dff 0%,
        rgba(235, 247, 248, 0) 100%
      ),
      #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27vw;
    height: 35vh;
    margin-left: 2%;
    margin-top: 2%;
    padding: 5px;
    position: relative;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .discoverexamslabel {
    color: #006a6a;
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 150%;
    margin-left: 2%;
    margin-top: 2%;
  }
  .discoverexamslabel span {
    margin-right: 2px;

  }
  .remove {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 6%;
    top: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .remove button {
    all: unset;
    font-size: 20px;
    margin-right: 4%;
    color: #008182;
    cursor: pointer;
    transition: 0.5s;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .remove i:hover {
    color: #ff0052;
  }
  
  .outer_button {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    margin-left: 3px;
  }
  .modal-title {
    color: #006a6a;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
  }
  .modal-content {
    border-radius: 15px;
    background: radial-gradient(
        313.28% 209.98% at 99.43% 99.22%,
        #dff 0%,
        rgba(235, 247, 248, 0) 100%
      ),
      rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
    backdrop-filter: blur(6.5px);
  }
  
  .modal-footer button {
    background: #008182;
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    color: #fff;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 14px; 
    font-weight: 600;
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  
  .modal-body {
    color: #008182;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
  }
  .modal-body label {
    font-size: 18px;
    font-weight: 600;
    margin-top: 2%;
  }
  .modal-footer button:hover {
    background: #fff;
    color: #008182;
    border: 1px solid #008182;
    transition: 1s;
  }
  .upcomingbox {
    display: flex;
    flex-direction: column;
    margin: 2%;
    position: relative;
  }
  .Qdescription{
    color: #006a6a;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 2%;
    width: 90%;
   display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    word-wrap: break-word;
    
  }
  .head p{
    font-size: 18px;
    margin-top: 10px;
  }
  .choices{
    font-size: 16px;
  }
  .Qcoding{
    color: #CC733D;
  }
  .ans{
    color: #CC733D;
  }
  .upcominginfo {
    color: #006a6a;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 500;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 5px 5px 5px 5px rgba(0, 129, 130, 0.16);
    justify-content: center;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  .choices{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
  }
  .upcominginfo label {
    margin-right: 10px;
  }

  .btn_back {
    all: unset;
    cursor: pointer;
    margin-left: 85%;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  select {
    justify-content: left;
    text-align: left;
    background-color: #fff;
  }
  .smalldiv {
    margin-bottom: 10px;
  }

  
  .titles{
    height:25px;
    color: #008182;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .btn_exam {
    border-radius: 16px;
    background: #008182;
    outline: none;
    border: none;
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    color: #fff;
    font-weight: 500;
    width: 33vw;
    height: 5vh;
    padding: 5px;
    font-size: 17px;
    font-family: Montserrat;
    margin-left:13px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }
  .btn_add {
    margin-bottom: 10px;
    margin-right: 6px;
  }
  .input_edit {
    border: #006a6a solid 2px;
    height: 100%;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    background-color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    width: 100%;
  }
  
 
  @media screen and (max-width: 1000px) {
    .container1{
      flex-direction: column;
      width: 100%;
    }
    .container {
      flex-direction: column;
    }
    .toolbar{
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .dropdown{
      width: 100%;
    }
    select{
      width: 100%;
      font-size: 10px;
    }
    .toolbar .btn {
      border-radius: 8px;
      background: linear-gradient(311deg, #dcfcfd 0%, #fff 100%);
      color: #008182;
      font-size: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      width: 90%;
      margin: 5%;
    }
    .addtopicbtn {
      font-size: larger;
      font-weight: 400;
      border-radius: 9px;
      background: #008182;
      color: #fff;
      width: 100%;
      box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
      padding: 12px 8px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border: none;
      margin: 0% 2% 0% 2%;
    }
    
    .container{
      flex-wrap: wrap;
      overflow: unset;
    }
    .form-control{
      width: 100%;
    }
    .btn_exam{
      width: 100%;
      margin-left: 0;
    }
    .btn_back{
      margin-left: 0;
    }
    .goodmorningwidgets,
    .discoverexamswidgets {
      width: 100%;
      overflow: unset;
    }
  
    .card {
      width: 100%;
      margin-right: 0;
    }
  
    .card h5 {
      font-size: 16px;
    }
  
    .card a {
      font-size: 10px;
    }
  
    .upcoming h5,
    .taken h5,
    .rank h5 {
      font-size: 18px;
    }
  
    .discoverexamslabel a {
      right: auto;
      left: 10%;
      font-size: 12px;
    }
  
    .modal-title {
      font-size: 24px;
    }
  
    .modal-footer button {
      width: 100%;
    }
  
    .modal-body {
      font-size: 14px;
    }
  
    .upcominginfo label,
    .takeninfo label {
      font-size: 10px;
    }
  
    .examlist li {
      font-size: 8px;
    }
  
    .order,
    h3 {
      font-size: 10px;
    }
  
    #select,
    #btn,
    .circle {
      width: 100%;
    }
  
    .discoversmallbox2 .discoverexamname1 {
      font-size: 12px;
    }
  
    .discoversmallbox2 .discoverscore1 {
      font-size: 48px;
    }

  }
  
  