.outer_button{
    border:none;
    border-radius: 10px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    margin-left: 3px;
  }
  
  .modal-title {
    color: #006A6A;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  
  }
  .modal-content{
    border-radius: 15px;
    background: radial-gradient(313.28% 209.98% at 99.43% 99.22%, #DFF 0%, rgba(235, 247, 248, 0.00) 100%), rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
    backdrop-filter: blur(6.5px);
  }
  
  .modal-footer button{
    background: #008182;
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    color:#FFF;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
  
  }
  
  
  .modal-body{
    color: #008182;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
  }
  .modal-footer button:hover {
    background: #fff;
    color: #008182;
    border: 1px solid #008182;
    transition: 1s;
  }
  .goodmorninglabel,
.discoverexamslabel {
  color: #003f3d;
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 150%;
  margin-left: 2%;
}
.discoverexamslabel {
  display: flex;
  flex-direction: row;
}
.discoverexamslabel a {
  right: 10%;
  color: #008081;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 20px;
  text-decoration-line: underline;
  position: absolute;
  transition: 0.5s;
}
.discoverexamslabel a:hover {
  font-size: 20px;
}
.goodmorningwidgets,
.discoverexamswidgets {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-bottom: 2%;
  flex-wrap: wrap;
}
.card {
  width: 20vw;
  height: 27vh;
  position: relative;
  margin-right: 2%;
  margin-bottom: 15px;
}
.card h5 {
  align-items: left;
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 100%;
}
.card a {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.card a:hover {
  font-size: 15px;
}
.upcoming {
  border-radius: 10px;
  background: radial-gradient(
      313.28% 209.98% at 99.43% 99.22%,
      #dff 0%,
      rgba(235, 247, 248, 0) 100%
    ),
    #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
  justify-content: left;
}
.upcoming a {
  color: #006a6a;
}
.upcoming h5 {
  color: #006a6a;
  font-size: 22px;

}
.discoverbox1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .discoversmallbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 10px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    margin-right: 20px;
  }
  .discoverinfo {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .discoversmallbox label {
    color: #006a6a;
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
  }
  .discoversmallbox .discoverscore {
    font-size: 32px;
    font-weight: 300;
    margin: 0px;
  }
  .learnmore {
    border-radius: 16px;
    background: #fff;
    outline: none;
    border: none;
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    color: #008182;
    font-weight: 500;
    width: 100%;
    padding: 5px;
    font-size: small;
    margin-bottom: 10px;
    
  }
  .btn_exam {
    border-radius: 16px;
    background: #008182;
    outline: none;
    border: none;
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    color: #fff;
    font-weight: 500;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    font-family: Montserrat;
  }
  .btn_add{
    margin-bottom: 10px;
    margin-right: 6px;
  }
  .examlist li{
    color: #008182;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .examlist{
    padding-left: 15px;
  }
  
  #disable_btn{
    background: rgba(207, 207, 207, 0.44);
    color: rgba(151, 151, 151, 0.44);
  }
  
  .discoversmallbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:24vh;
    height: 20vh;
    margin: 8px;
    padding: 15px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
    margin-right: 20px;
    margin-left: 20%;
  }
  .discoverexamname1{
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    padding: 5px;
  }
  .discoverscore1{
    font-size: 62px;
    font-weight: 300;
    margin-top: 20px;
  }

  .btn_remove {
    all: unset;
    color: #008182;
    cursor: pointer;
  }
  
  .btn_remove:hover i {
        color:#FF0052

  }
  
  .remove {
    margin-left: 95%;
  }

  .input_edit{
    border: #006a6a solid 2px;
    height: 100%;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    background-color: #FFF;
    font-weight: 500;
    margin-bottom: 15px;
    width:100%;
  }
#t_area{
    height: 20vh;

  }

  