<div class="carousel"></div>
<div class="goodmorninglabel">
  <p>Good Morning</p>
</div>
<div class="goodmorningwidgets">
  <div class="card card-body upcoming">
    <h5 class="card-title">Upcoming <br />Exams</h5>
    <div class="card-text upcomingbox">
      <!-- ng for -->
      <div class="upcominginfo">
        <label class="examname1">C programming</label>
        <label class="smallbox">Egypt</label>
        <label class="smallbox">15 April</label>
        <label class="smallbox">3.00 pm</label>
      </div>
      <div class="upcominginfo">
        <label class="examname1">C programming</label>
        <label class="smallbox">Egypt</label>
        <label class="smallbox">15 April</label>
        <label class="smallbox">3.00 pm</label>
      </div>
    </div>
    <a class="btn" routerLink="/home/exam_bar">
      see more >>
    </a>
  </div>
  <div class="card card-body taken">
    <h5 class="card-title">Taken <br />Exams</h5>
    <div class="card-text takenbox">
      <!-- ng for -->
      <div class="takeninfo">
        <label class="examname1">C programming<br /><span>100%</span></label>
      </div>
      <div class="takeninfo">
        <label class="examname1">Algorithms<br /><span>95%</span></label>
      </div>
    </div>
    <a class="btn" routerLink="/home/exam_bar">
      see more >></a
    >
  </div>
  <div class="card card-body rank">
    <h5 class="card-title">
      Your<br />
      Ranks
    </h5>
    <div class="card-text takenbox">
      <!-- ng for -->
      <div class="rankinfo">
        <label class="rankname">Your Rank</label>
        <label class="examname2">C programming</label>
        <label class="rankscore">#300th</label>
      </div>
      <div class="rankinfo">
        <label class="rankname">City Rank</label>
        <label class="examname2">C programming</label>
        <label class="rankscore">#240th</label>
      </div>
    </div>
    <a class="btn" routerLink="/home/ranking_bar">
      see more >></a
    >
  </div>
</div>
<!-- Discover exams section -->
<div class="discoverexamslabel">
  <p>Discover Exams</p>
  <a class="btn"  routerLink="/home/exam_bar">See more >></a>
</div>
<div class="discoverexamswidgets">
  <!-- ngfor ya kimoo -->
  <div class="card card-body upcoming">
    <!-- Not taken again -->
    <h5 class="card-title">C++<br />Programming</h5>
    <div class="discoverbox1">
      <div class="discoversmallbox">
        <label class="discoverexamname">Your last mark</label>
        <label class="discoverscore">100%</label>
      </div>
      <div class="discoverinfo">
        <button class="discoverbtns learnmore">Learn More</button>
        <button (click)="take_exam('Algorithms',1)" class="discoverbtns takeagain">Take exam again</button>
      </div>
    </div>
  </div>
  <div class="card card-body upcoming">
    <!-- Not taken again -->
    <h5 class="card-title">C<br />Programming</h5>
    <div class="discoverbox1">
      <div class="discoversmallbox">
        <label class="discoverexamname">Your last mark</label>
        <label class="discoverscore">88%</label>
      </div>
      <div class="discoverinfo">
        <button class="discoverbtns learnmore">Learn More</button>
        <button class="discoverbtns takeagain">Take exam again</button>
      </div>
    </div>
  </div>
  <div class="card card-body upcoming">
    <h5 class="card-title">Algorithms</h5>

    <div class="discoverbox1">
      <div class="discoversmallbox">
        <ul class="examlist">
          <li>About the exam</li>
          <li>About the exam</li>
          <li>About the exam</li>
          <li>About the exam</li>
        </ul>
      </div>
      <div class="discoverinfo">
        <button data-toggle="modal" data-target="#not_token_exam"  class="discoverbtns learnmore">Learn More</button>
        <button (click)="take_exam('Algorithms',1)" class="discoverbtns takeagain">Take exam</button>
      </div>
    </div>
  </div>
</div>



<div *ngIf="flag_book==true"  class="contain" >
  <div class="close">
    <button (click)="close_book()" class="closebtn">
    <i class="fa-solid fa-xmark"></i>
  </button>
  </div>
  <div class="order">Book your exam</div>  
    <div class="box">
     <form #input_form="ngForm" (ngSubmit)="submit_book()">
        <div>
            <h3>Country</h3>
            <select class="sel" required #snack id="snack" name="snack" (change)="select_snack(snack.value)">
              <option>Country</option>
              <option *ngFor="let snack of snacks" >{{ snack }}</option>
            </select>

            <h3>City</h3>
            <select class="sel" required #snack id="snack" name="snack" (change)="select_snack(snack.value)">
              <option>City</option>
              <option *ngFor="let snack of snacks" >{{ snack }}</option>
            </select>
            <h3>Location</h3>
            <select class="sel" required #snack id="snack" name="snack" (change)="select_snack(snack.value)">
              <option>Location</option>
              <option *ngFor="let snack of snacks" >{{ snack }}</option>
            </select>

            <button id="btn" type="submit">Next</button>
       </div>  
       <div class="circle">   
        <i class="fa-solid fa-circle" style="color:#008182;"></i> 
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
       </div>
       
    </form>
  </div>
</div>

<div *ngIf="flag_snack==true"  class="contain" >
  <div class="close">
    <button (click)="close_book()" class="closebtn">
    <i class="fa-solid fa-xmark"></i>
  </button>
  </div>
  <div class="order">Choose what you prefer!</div>  
    <div class="box">
      <form #input_form="ngForm" (ngSubmit)="submit_snack()">
          <h3>Select your snack</h3>
              <select required #snack id="snack" name="snack" (change)="select_snack(snack.value)">
                <option>Snack</option>
                <option *ngFor="let snack of snacks" >{{ snack }}</option>
    
              </select>
              <button id="btn" type="submit">Next</button>
         
         <div class="circle">
          <i class="fa-regular fa-circle"></i>
          <i class="fa-solid fa-circle" style="color:#008182;"></i> 
          <i class="fa-regular fa-circle"></i>
         </div>

      </form>
    </div>
</div>


<div *ngIf="flag_time==true"  class="contain" >
  <div class="close">
    <button (click)="close_book()" class="closebtn">
    <i class="fa-solid fa-xmark"></i>
  </button>
  </div>
  <div class="order">Select your time</div>  
    <div class="box">
      <form #input_form="ngForm" (ngSubmit)="submit_time()">
          <h3>Day of exam</h3>
              <select required #snack id="snack" name="snack" (change)="select_snack(snack.value)">
                <option>Select a day</option>
                <option *ngFor="let snack of snacks" >{{ snack }}</option>
              </select>
              <h3>Appointment</h3>
            <select class="sel" required #snack id="snack" name="snack" (change)="select_snack(snack.value)">
              <option>Select an Appointment</option>
              <option *ngFor="let snack of snacks" >{{ snack }}</option>
            </select>
              <button id="btn" type="submit">Next</button>

         <div class="circle">
          <i class="fa-regular fa-circle"></i>
          <i class="fa-regular fa-circle"></i>
          <i class="fa-solid fa-circle" style="color:#008182;"></i> 

         </div>
       
      </form>
    </div>
</div>

<!-- mesage template -->

<div class="modal fade" id="not_token_exam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{name_course}}</h5>
       <button class="outer_button" disabled > <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </button>
      </div>
      <div class="modal-body">
        <p>{{discription}}</p>
        <ul>
          <li *ngFor="let info of about_course" style="margin-top: 20px;">{{info}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="take_exam('Algorithms',1)">Take Exam</button>
      </div>
    </div>
  </div>
</div>
