<div class="container">
  <div class="section section1">
    <div class="name">
      <img src="../../assets/images/img3.jpg" alt="" />
      <div class="name2">
        <label>Youssef Aboelwafa</label>
        <label id="id">#12345678</label>
      </div>
    </div>
    <div class="btns1">
      <button>Certificates</button>
      <button>Past Exams</button>
    </div>
  </div>
  <!-- Side bar -->
  <div class="section section2 sidebar">
    <ul>
      <li>
        <button>
          <img src="../../assets/images/home.svg" alt="" />
          Home
        </button>
      </li>
      <li>
        <button>
          <img src="../../assets/images/exams.svg" alt="" />
          Exams
        </button>
      </li>
      <li>
        <button>
          <img src="../../assets/images/news.svg" alt="" />
          News
        </button>
      </li>
      <li>
        <button>
          <img src="../../assets/images/rank.svg" alt="" />
          Ranking
        </button>
      </li>
    </ul>
    <div class="book">
      <label>Book Your Next <br />Exam Now</label>
      <button>Book Now</button>
    </div>
  </div>
  <div class="section section3">
    <!-- Good morning section -->
    <div class="goodmorninglabel">
      <p>Good Morning</p>
    </div>
    <div class="goodmorningwidgets">
      <div class="card card-body upcoming">
        <h5 class="card-title">Upcoming <br />Exams</h5>
        <p class="card-text"></p>
        <a href="#" class="btn">See more >></a>
      </div>
      <div class="card card-body taken">
        <h5 class="card-title">Taken <br />Exams</h5>
        <p class="card-text"></p>
        <a href="#" class="btn">See more >></a>
      </div>
      <div class="card card-body rank">
        <h5 class="card-title">
          Your<br />
          Rank
        </h5>
        <p class="card-text"></p>
        <a href="#" class="btn">See more >></a>
      </div>
    </div>
    <!-- Discover exams section -->
    <div class="discoverexamslabel">
      <p>Discover Exams</p>
      <a href="#" class="btn">See more >></a>
    </div>
    <div class="discoverexamswidgets">
      <div class="card card-body upcoming">
        <h5 class="card-title">C++<br />Programming</h5>
        <p class="card-text"></p>
        <a href="#" class="btn">See more >></a>
      </div>
      <div class="card card-body upcoming">
        <h5 class="card-title">Flutter</h5>
        <p class="card-text"></p>
        <a href="#" class="btn">See more >></a>
      </div>
      <div class="card card-body upcoming">
        <h5 class="card-title">Algorithms</h5>
        <p class="card-text"></p>
        <a href="#" class="btn">See more >></a>
      </div>
    </div>
  </div>
</div>
