<!-- 
<div>
    <h1>Seats</h1>
</div>
<div style="margin-top: 120px;margin-left: 60px;" id="container"></div> -->
<div class="discoverexamslabel">
  <button routerLink="/admin_home/admin_location" class="btn_back">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
</div>
<div class="discoverexamslabel">
  <button
    *ngIf="state == false"
    data-toggle="modal"
    data-target="#new_grid"
    class="discoverbtns btn_exam btn_add"
    style="margin-bottom: 10px; margin-right: 6px"
  >
    New Grid <i class="fa-solid fa-plus"></i>
  </button>
  <button
    *ngIf="state == true"
    class="discoverbtns btn_exam btn_add"
    style="margin-bottom: 10px; margin-right: 6px; background-color: gray"
    disabled
  >
    New Grid <i class="fa-solid fa-plus"></i>
  </button>
</div>

<ul class="showcase">
  <li>
    <div class="seat"></div>
    <small>Seat Number</small>
    <div class="seat blank"></div>
    <small>Blank</small>
  </li>
  <li></li>
  
  <button
    class="btn_remove"
    style="all: unset; margin-right: 5px"
    *ngIf="state == false"
    (click)="change_state(true)"
  >
    <i
      style="color: red; font-size: 40px"
      title="open seats"
      class="fa-solid fa-toggle-off"
    ></i>
  </button>
  <button
    class="btn_remove"
    style="all: unset; margin-right: 5px"
    *ngIf="state == true"
    (click)="change_state(false)"
  >
    <i
      style="color: #008081; font-size: 40px"
      title="Close seats"
      class="fa-solid fa-toggle-on"
    ></i>
  </button>
</ul>
<div></div>

<div class="container">
  <div class="screen">
    Entrance
    <i class="fa-solid fa-angle-down"></i>
  </div>
  <p class="hint">
    <i class="fa-regular fa-lightbulb"></i>
    Click on the seats to toggle between available and unavailable. Make sure to close the toggle to update the chair, and open the toggle to save your updates.
  </p>
  <div class="seat_area">
    <div *ngFor="let x of grid; let i = index" class="row">
      <button
        *ngFor="let y of x; let j = index"
        style="all: unset"
        (click)="set(i, j)"
      >
        <div [class]="y">
          <span>{{ i * grid[0].length + j + 1 }}</span>
        </div>
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="new_grid"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <p>New Grid</p>
        </h5>
        <button class="outer_button" disabled>
          <button
            type="button"
            class="close close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </button>
      </div>
      <div class="modal-body">
        <div class="duration">
          <input
            #add_Rows
            type="number"
            min="0"
            class="input_edit time_input"
            placeholder="Rows"
          />

          <i class="fa-brands fa-x-twitter"></i>
          <input
            #add_Columns
            type="number"
            min="0"
            class="input_edit time_input"
            placeholder="Columns"
          />
        </div>
        <div class="modal-footer">
          <button
            class="discoverbtns btn_exam"
            style="background-color: #008081"
            (click)="add_new_grid(add_Rows.value, add_Columns.value)"
          >
            Add Grid <i class="fa-solid fa-plus"></i>
          </button>
          <button
            class="discoverbtns btn_exam"
            style="background-color: #ff0052"
            (click)="close()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
