@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

.discoverexamslabel {
  color: #003f3d;
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 150%;
  margin-left: 2%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  top: 5%;
}

.discoverexamslabel a {
  right: 10%;
  color: #008081;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 20px;
  text-decoration-line: underline;
  position: absolute;
  transition: 0.5s;
}
.discoverexamslabel a:hover {
  font-size: 20px;
}
.goodmorningwidgets,
.discoverexamswidgets {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-bottom: 2%;
  flex-wrap: wrap;
}
.btn_exam {
  border-radius: 16px;
  background: #008182;
  outline: none;
  border: none;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  color: #fff;
  font-weight: 500;
  width: 100%;
  padding: 5px;
  font-size: 17px;
  font-family: Montserrat;
}
.btn_exam:hover {
  background: #fff;
  color: #008182;
  border: 2px solid #008182;
  transition: 1s;
}
.btn_add {
  margin-bottom: 10px;
  margin-right: 6px;
}

.modal-title {
  color: #006a6a;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
}
.modal-content {
  border-radius: 15px;
  background: radial-gradient(
      313.28% 209.98% at 99.43% 99.22%,
      #dff 0%,
      rgba(235, 247, 248, 0) 100%
    ),
    rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 129, 130, 0.15);
  backdrop-filter: blur(6.5px);
}

.modal-footer button {
  background: #008182;
  box-shadow: 0px 0px 7px 0px rgba(0, 129, 130, 0.16);
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.modal-body {
  color: #008182;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
}
.modal-footer button:hover {
  background: #fff;
  color: #008182;
  border: 1px solid #008182;
  transition: 1s;
}
.outer_button {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  margin-left: 3px;
}
.input_edit {
  border: #006a6a solid 2px;
  height: 100%;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  background-color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  width: 50%;
}
.duration {
  display: flex;
  flex-direction: row;
}
.duration .fa-x-twitter {
  color: #006a6a;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  margin: 5px;
}

.btn_back {
  all: unset;
  cursor: pointer;
  margin-left: 95%;
}

.container {
  width: 80%;
  /* perspective: 1000px; */
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.seat {
  background-color: #55555b;
  height: 31px;
  width: 35px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  transition: 0.4s;
  padding: 5px;
}

.seat.select{
  background-color: #008182;
}

.seat.booked{
  background-color: #FF0052;
}
.seat.beingbooked{
  background-color: yellow;
}

.seat.none {
  background-color: rgba(255, 255, 255, 0);
}

.seat.none span {
  color: rgba(255, 255, 255, 0);
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}
.seat.blank {
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 0px;
  margin-left: 30px;
}
.seat:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.none):hover {
  cursor: default;
  transform: scale(1);
}
.hint {
  font-size: 16px;
  font-weight: 500;
  margin-top: 2%;
}
.fa-lightbulb {
  font-size: 24px;
}
.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
  color: #000000;
  font-size: 16 px;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: center;
}

.row span {
  color: #fff;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.screen {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  height: 100px;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
  font-size: 50px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  /* Centering using Flexbox */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.screen i {
  margin: 5px;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}
button.active {
  margin-left: 18px;
  border: 3px solid #008182 !important ;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .screen {
    font-size: 36px;
  }
  .row {
    margin: 5px 0;
  }
  .showcase {
    padding: 0;
  }
  .showcase li {
    margin: 0 5px;
  }
  .showcase li small {
    font-size: 10px;
  }
  .seat {
    height: 22px;
    width: 25px;
    font-size: 10px;
    padding: 1px;
    margin: 1.5px;
  }
  
}
